@model radio.ViewModels.IndexViewModel

@{
    ViewBag.Title = "AddToPlaylist";
}

<div class="main-panel">

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="content">
                        <div class="header">
                            <p class="category">

                            </p>
                        </div>


                        @Html.Label("Add to Playlist:", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBox("PlaylistName", null, new { @class = "form-control" })
                        <input type="submit" id="PlaylistAddition" value="Save" class="btn btn-info btn-lg btn-block btn-fill" />
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
            $('#PlaylistAddition').click(function () {
                $.ajax({
                    type: 'Post',
                    url: '@Url.Action("_PlaylistAdd", "Playlist")',
                    cache: false,
                    data: {
                        ID: @Model.ID,
                        playlist: '$("#PlaylistName").val()'
                    },
                    success: function () {
                        $("#@Model.modal").modal('toggle');
                    }
                });
            });
    </script>
}