

<div class="sidebar" data-background-color="black" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text">
                Radio
            </a>
        </div>
        <ul class="nav">
            <li id="Dashboard">
                <i class="ti-stats-up"></i>
                @Html.ActionLink("Home", "Index", "Home")
            </li>
        </ul>
        </div>
    </div>
        